body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container, #history-container, .rules-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.container {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 300px;
}

#scores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#player-score, #bot-score {
    border: 2px solid;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#player-score {
    border-color: #4caf50;
}

#bot-score {
    border-color: #ff3333;
}

#current-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#history-table th, #history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
}

button:hover {
    background-color: #45a049;
}

#history-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-y: auto;
}

.rules-container {
    position: fixed;
    left: 0;
    top: 25px;
    height: 100%;
    width: 350px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow-y: auto;
}

.rules-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.rules-container p {
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 15px;
}

.rules-container ul {
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}

.rules-container li {
    font-size: 18px;
    color: #444;
    margin-bottom: 8px;
    position: relative;
    padding-left: 20px;
}

.rules-container li::before {
    content: "\25B6";
    color: #4caf50;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
}
